#mainMenu .nav-link {
    color: #17a2bb;
}
#mainMenu .nav-link:hover {
    color: white;
    background-color: #17a2bb;
    border-radius: 5px;
}
#mainMenu .active {
    color: white;
    background-color: #17a2bb;
    border-radius: 5px;
}

#about-us {
    text-align: justify;
}

img{
    width: 100%;
    height: auto;
}